@charset "utf-8";
/* Common */

/* Tablet 768px~1199px */
@media all and (min-width: 768px) and (max-width: 1199px){
    body{
        position: relative;
        padding-top: 3.5vw;
        background-image: url(../img/common/t_background.jpg);
        background-size: contain;
    }
    
    /* Main Banner */
    .s_mb_img{
        width: 60vw;
        height: 40vw;
        margin-top: 4.5vw;
        margin-bottom: 2vw;
    }
    .s_mbanner>div{
        width: 60vw;
        height: 40vw;
    }
    .s_mb_rbtn{
        width: 250px;
        text-align: center;
        left: 50%;
        transform: translateX(-50%);
    }
    .s_mb_rbtn>label{
        margin-right: 0.8vw;
    }
    .s_mb_rbtn>label:last-child{
        margin-right: 0px;
    }
    .s_mb_pdtn>a{
        display: none;
    }
    .s_mb_kw{
        bottom: -40px;
        left: 50%;
        transform: translateX(-50%);
        width: 40vw;
    }
    .s_mkw{
        font-size: 1.6vw;
        font-weight: normal;
    }
    
    /* SNS & Customer Content */
    #s_sc{
        margin-top: 0px;
        padding-bottom: 4.2vw;
    }
    .s_sns{
        margin-top: 3.2vw;
        padding-left: 20px;
    }
    .s_sns>div{
        width: 5vw;
        height: 5vw;
        border-radius: 2.5vw;
    }
    .s_custom>a{
        display: block;
        width: 20vw;
        height: 6vw;
        padding: 5px;
        border: 2px solid #a4a6a6;
        border-radius: 20px;
        margin-top: 2.6vw;
        margin-right: 20px;
        box-sizing: border-box;
        text-align: center;
    }
    .s_custom>a:before{
        display: none;
    }
    .s_custom>a>img{
        width: 4.4vw;
        height: 4.4vw;
        position: static;
    }
    .s_custom>a>p{
        display: inline-block;
        line-height: 4.4vw;
        margin-top: 0px;
        margin-left: 10px;
        font-size: 1.5vw;
    }
    
    /* Main Content */
    #s_mc{
        padding-top: 4.2vw;
    }
    .s_mcon1{
        position: relative;
        margin: 0px 20px;
    }
    .s_mcon1>div{
        width: calc((100vw - 80px)/3);
        height: calc((100vw - 80px)/2);
    }
    /* Notice & Event */
    .s_mcon1>.s_notice, .s_mcon1>.s_event{
        height: calc((100vw - 80px)/4 - 10px);
        padding: 4.5vw 15px;
    }
    .s_notice>a:nth-of-type(n), .s_event>a:nth-of-type(n){
        display: none;
    }
    .s_notice>a:nth-of-type(1), .s_event>a:nth-of-type(1){
        display: block;
    }
    .s_mcon1>.s_notice>h2, .s_mcon1>.s_event>h2{
        font-size: 2vw;
        margin-bottom: 10px;
    }
    .s_notcon>h3, .s_evcon>h3, .s_notcon>p, .s_evcon>p{
        font-size: 1.6vw;
        line-height: 2.4vw;
    }
    .s_mcon1>.s_event{
        display: block;
        position: absolute;
        top: calc(50% + 9px);
        left: 0px;
    }
    .s_more{
        top: 4.5vw;
    }
    .s_more>a{
        width: 10vw;
        height: 1.6vw;
        font-size: 1.6vw;
        font-weight: bold;
        color: #a4a6a6;
        background-image: none;
        text-align: right;
        text-indent: 0px;
    }
    /* Sub Banner */
    .s_fsbanner>h3, .s_csbanner>h3{
        font-size: 2vw;
    }
    .s_fsb_kw, .s_csb_kw{
        top: 30%;
    }
    .s_fsb_kw>label, .s_csb_kw>label{
        font-size: 1.8vw;
    }
    .s_fs_detail, .s_cs_detail{
        top: 40%;
    }
    .s_fs_detail>label>a, .s_cs_detail>label>a{
        width: 60%;
    }
    .s_fs_detail>label>a, .s_cs_detail>label>a, .s_fsb_info>label, .s_csb_info>label{
        height: 3.2vw;
        line-height: 3.2vw;
        font-size: 1.6vw; 
    }
    /* Content 2 */
    .s_mcon2{
        margin: 20px 20px 0px;
    }
    .s_box{
        width: calc((100vw - 80px)/3);
        height: calc((100vw - 80px)/6);
    }
    .s_box:nth-of-type(3), .s_box:nth-of-type(5), .s_box:nth-of-type(8){
        margin-right: 0px;
    }
    .s_box:nth-of-type(4){
        margin-right: 20px;
    }
    .s_box:nth-of-type(5){
        margin-left: calc((100vw - 80px)/3 + 20px);
        margin-bottom: 20px;
    }
    .s_box>a>h2{
        top: 35%;
        box-sizing: border-box;
        font-size: 1.8vw;
    }
    .s_box>a>p{
        top: 55%;
        font-size: 1.5vw;
    }
    .s_box:nth-of-type(3)>a>h2{
        top: 25%;
    }
    .s_box:nth-of-type(3)>a>h2>br{
        display: block;
    }
    .s_box:nth-of-type(3)>a>p{
        top: 60%;
    }
    .s_ft_logo{
        position: absolute;
        top: calc((-100vw + 80px)/4 - 4.2vw - 40px);
        left: 50%;
        transform: translateX(-50%);
        width: 20vw;
        height: 4vw;
    }
} /* Tablet End */

/* Mobile ~767px */
@media all and (max-width: 767px){
    /* Main Banner */
    #s_mb{
        padding-top: 20px;
        padding-bottom: calc(4.5vw + 10px);
        background: #111;
    }
    .s_mb_img{
        width: 100vw;
        height: 66vw;
        margin: 0px;
    }
    .s_mbanner>div{
        width: 100%;
        height: 66vw;
    }
    .s_mb_rbtn{
        width: 250px;
        text-align: center;
        left: 50%;
        transform: translateX(-50%);
        bottom: 10px;
    }
    .s_mb_rbtn>label{
        margin-right: 1vw;
    }
    .s_mb_rbtn>label:last-child{
        margin-right: 0px;
    }
    .s_mb_pdtn>a{
        display: none;
    }
    .s_mb_kw{
        bottom: calc(-9vw - 10px);
        left: 50%;
        transform: translateX(-50%);
        width: 100vw;
        height: 9vw;
        line-height: 9vw;
    }
    .s_mkw{
        letter-spacing: 0.1vw;
        font-size: 3.6vw;
        font-weight: bold;
    }
    .s_mb_direction{
        display: none;
    }
    
    /* SNS & Customer Content */
    #s_sc{
        padding: calc(4.5vw + 10px) 10px 20px 10px;
        border: none;
        margin-top: 0px;
        background: #111;
    }
    .s_sns{
        width: calc(50vw - 15px);
        height: calc(50vw - 15px);
        padding-left: 0px;
        margin-top: 0px;
        border: 2px solid #a4a6a6;
        box-sizing: border-box;
    }
    .s_sns>div:nth-of-type(n){
        width: 50%;
        height: 50%;
        line-height: calc((50vw - 15px)/2 + 10vw);
        border: none;
        border-radius: 0px;
        margin-right: 0px;
        box-sizing: border-box;
        text-indent: 0px;
        text-align: center;
        background-size: 9vw 9vw;
        background-position: center 30%;
    }
    .s_sns>div:nth-of-type(1){
        border-right: 1px solid #a4a6a6;
        border-bottom: 1px solid #a4a6a6;
        background-image: url(../img/main/sns/blog_icon_ms.png);
    }
    .s_sns>div:nth-of-type(2){
        border-left: 1px solid #a4a6a6;
        border-bottom: 1px solid #a4a6a6;
        background-image: url(../img/main/sns/ytube_icon_ms.png);
    }
    .s_sns>div:nth-of-type(3){
        border-right: 1px solid #a4a6a6;
        border-top: 1px solid #a4a6a6;
        background-image: url(../img/main/sns/insta_icon_ms.png);
    }
    .s_sns>div:nth-of-type(4){
        border-left: 1px solid #a4a6a6;
        border-top: 1px solid #a4a6a6;
        background-image: url(../img/main/sns/facebook_icon_ms.png);
    }
    .s_sns>div>a{
        font-size: 2.8vw;
        font-weight: bold;
        color: #a4a6a6;
    }
    .s_custom>a{
        display: block;
        width: calc(50vw - 15px);
        height: calc(50vw - 15px);
        padding-top: 13vw;
        border: 2px solid #a4a6a6;
        border-radius: 0px;
        margin-top: 0px;
        margin-right: 0px;
        box-sizing: border-box;
        text-align: center;
    }
    .s_custom>a:before{
        display: none;
    }
    .s_custom>a>img{
        width: 15vw;
        height: 15vw;
        position: static;
    }
    .s_custom>a>p{
        display: block;
        line-height: 5.6vw;
        margin-top: 0px;
        margin-left: 0px;
        font-size: 2.8vw;
        font-weight: bold;
    }
    
    /* Main Content */
    #s_mc{
        padding: 4.2vw 10px 0px 10px;
    }
    .s_mcon1{
        position: relative;
        margin: 0px;
    }
    /* Notice & Event */
    .s_mcon1>.s_notice, .s_mcon1>.s_event{
        width: 100%;
        padding: 4.5vw 15px;
        margin-bottom: 10px;
    }
    .s_mcon1>.s_notice>h2, .s_mcon1>.s_event>h2{
        font-size: 4vw;
        margin-bottom: 10px;
    }
    .s_notcon, .s_evcon{
        margin-bottom: 0px;
    }
    .s_notcon>h3, .s_evcon>h3, .s_notcon>p, .s_evcon>p{
        font-size: 3.2vw;
        line-height: 4.8vw;
    }
    .s_notcon>h3>br, .s_evcon>h3>br{
        display: none;
    }
    .s_more{
        top: 4.5vw;
    }
    .s_more>a{
        width: 15vw;
        height: 3.6vw;
        font-size: 3.6vw;
        font-weight: bold;
        color: #a4a6a6;
        background-image: none;
        text-align: right;
        text-indent: 0px;
    }
    /* Sub Banner */
    .s_mcon1>.s_fsbanner, .s_mcon1>.s_csbanner{
        width: calc((100vw - 30px)/2);
        height: calc((100vw - 30px)/4*3);
        margin-right: 0px;
    }
    .s_fsbanner:hover:before, .s_fsbanner:focus:before, .s_csbanner:hover:before, .s_csbanner:focus:before{
        border: 3px solid #eb5b0c;
    }
    .s_fsbanner>h3, .s_csbanner>h3{
        top: 3.5vw;
        left: 3.5vw;
        padding-bottom: 0.5vw;
        font-size: 3.6vw;
    }
    .s_fsb_kw, .s_csb_kw{
        top: 30%;
    }
    .s_fsb_kw>label, .s_csb_kw>label{
        font-size: 2.8vw;
        letter-spacing: 0px;
    }
    .s_fs_detail, .s_cs_detail{
        top: 40%;
    }
    .s_fs_detail>label>a, .s_cs_detail>label>a{
        width: 60%;
    }
    .s_fs_detail>label>a, .s_cs_detail>label>a, .s_fsb_info>label, .s_csb_info>label{
        height: 5.6vw;
        line-height: 5.6vw;
        font-size: 2.8vw;
    }
    .s_fsb_direction>label, .s_csb_direction>label{
        width: 5vw;
        height: 5vw;
        background-size: cover;
    }
    /* Content 2 */
    .s_mcon2{
        margin: 10px 0px 0px;
    }
    .s_box:nth-of-type(n){
        width: calc((100vw - 30px)/2);
        height: calc((100vw - 30px)/4);
        margin: 0px 0px 10px 0px;
    }
    .s_box:nth-of-type(7), .s_box:nth-of-type(8){
        margin-bottom: 0px;
    }
    .s_box:nth-of-type(2n-1){
        margin-right: 10px;
    }
    .s_box>a>img{
        width: 65%;
    }
    .s_box>a>h2{
        top: 35%;
        box-sizing: border-box;
        font-size: 3.2vw;
    }
    .s_box>a>p{
        top: 55%;
        font-size: 2.4vw;
    }
    .s_box:nth-of-type(n)>a>h2>br, .s_box:nth-of-type(n)>a>p>br{
        display: block;
    }
    .s_box:nth-of-type(2)>a>h2, .s_box:nth-of-type(3)>a>h2, .s_box:nth-of-type(5)>a>h2{
        top: 20%;
    }
    .s_box:nth-of-type(4)>a>h2, .s_box:nth-of-type(6)>a>h2{
        top: 30%;
    }
    .s_box:nth-of-type(4)>a>p{
        top: 65%;
    }
    .s_box:nth-of-type(6)>a>p{
        top: 50%;
    }
} /* Mobile End */